 .nav{
	float:left;
	width:200px;
	height:50px;
    border:1px solid #cccc00;
}
.nav_bar{ 
    width:1010px;
    float:left;
}
.tb{
	width:1020px;
	margin-top:20px;
}
 .nav2{
	float:left;
	width:400px;
	height:50px;
    border:1px solid #cccc00;
}
